<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="dummy_camera_link">
    </link>
    
    <joint name="caml_dummy_camera" type="fixed">
        <!-- Position at actual sensor location, rotate 90° around Y (vertical scan) and 45° around Z (yaw) -->
        <origin xyz="0 0 0" rpy="1.57 0 0" />
        <parent link="caml" />
        <child link="dummy_camera_link" />
    </joint>


    <gazebo reference="dummy_camera_link">
        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <always_on>true</always_on>
            <update_rate>30</update_rate>
            <camera>
                <camera_info_topic>camera/camera_info</camera_info_topic>
                <horizontal_fov>1.0855</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <gz_frame_id>dummy_camera_link</gz_frame_id>
            <frame_name>dummy_camera_link</frame_name>
            <topic>camera/image_raw</topic>
            
        </sensor>
    </gazebo>

</robot>