<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    

    <link name="lidarl">
        <inertial>
          <origin xyz="-0.256143176414863 0.1283285607983 0.143452449615597" rpy="0 0 0" />
          <mass value="0.109998846473485" />
          <inertia ixx="4.02318810582621E-05" ixy="-7.76004870962997E-06" ixz="-7.75960890763623E-12" iyy="4.92541598732305E-05" iyz="-4.46080940664635E-12" izz="3.57666279058567E-05" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://reccobot_description/meshes/lidarl.STL" />
          </geometry>
          <material name="">
            <color rgba="0.659 0.333 0.969 1.0" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://reccobot_description/meshes/lidarl.STL" />
          </geometry>
        </collision>
    </link>

    <joint name="lidarmount_lidar" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="lidarmount" />
        <child link="lidarl" />
    </joint>

    

    <gazebo reference="lidarl">
        <material>Gazebo/Black</material>

        <sensor name="laser" type="gpu_ray">
            <pose> -0.27 0.140 0.14345 -1.57 0 0.55 </pose>
            <visualize>true</visualize>
            <always_on>true</always_on>
            <update_rate>10</update_rate>
            
            <ray>
                <scan>
                    <horizontal>
                        <samples>500</samples>
                        <resolution>1</resolution> 
                        <min_angle>-3.14159</min_angle>
                        <max_angle>3.14159</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.05</min>
                    <max>12.0</max>
                    <resolution>0.015</resolution> 
                </range>
                <noise>
                  <type>gaussian</type>
                  <mean>0.0</mean>
                  <stddev>0.01</stddev>
                </noise>
            </ray>
            <topic>scan</topic>
            
        
        </sensor>
    </gazebo>

    </robot>