<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="reccobot">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="sim_mode" default="true"/>

    <!-- Include the base robot structure -->
    <xacro:include filename="reccobot_core.xacro" />

    <!-- Include ros2_control configuration -->
    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="reccobot_ros2_control.xacro" />
    </xacro:if>

    <!-- Include Gazebo joint tuning (only for sim) -->
    <xacro:if value="$(arg sim_mode)">
        <xacro:include filename="reccobot_gazebo.xacro" />
    </xacro:if>
    
    <!-- Include sensor definitions -->
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="imu.xacro" />
    
</robot>
